# PyCharm info
.idea

# Python cache
**/__pycache__

# Experiment logs
experiments

# Dataset
data

# PDF Files
**/*.pdf

# Numpy Files
**/*.np?

# IPython Notebooks
**/.ipynb_checkpoints/*
**/*.ipynb
