# PyCharm info
.idea

# Python cache
**/__pycache__
**/*.pyc

# Experiment logs
experiments

# PDF Files
**/*.pdf

# Numpy Files
**/*.np?

# IPython Notebooks
**/.ipynb_checkpoints/*
**/*.ipynb

# Scripts that records the commands for experiments
command*.sh
